<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tuấn Sport Đà Nẵng – Số 1 Đà Nẵng</title>
        <%- include ('../common/lib/font_css')%>
                <%- include ('../common/lib/feather_icon_css')%>
                        <%- include ('../common/lib/bootstrap_css')%>
                        <%- include ('../common/lib/font_awesome_css')%>


                                <%- include ('../common/css/style')%>

                                        <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/logo.png">
                                        <%- include ('../common/css/owl_carousel')%>

</head>


<body style="background-color:var(--white-color)">
        <%- include ('../common/component/navigator')%>
        <div class="app-body">
            <div id="wishlist"> <!-- Content wishlist -->
              <section class="container py-2 pt-4 ps-3" id="breadcrumb"> <!-- Path -->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item text-decoration-none"><a href="/" class="text-color-dark-gray" style="font-size: var(--heading5-font-size); font-weight: var(--heading5-font-weight);">
                      Home
                    </a></li>
                    <li class="breadcrumb-item active text-color-primary" aria-current="page">
                      <span style="font-size: var(--heading5-font-size); font-weight: var(--heading5-font-weight)">Wishlist</span>
                    </li>
                  </ol>
                </nav>
              </section>
          
              <section class="container py-2 pb-5 text-center"> <!-- Main content wishlist -->
                <table class="table align-middle"> <!-- Table -->
                  <thead> <!-- Header -->
                    <tr>
                      <th scope="col">
                        <h3>Tên</h3>
                      </th>
                      <th scope="col">
                        <h3>Giá tiền</h3>
                      </th>
                      <th scope="col" class="text-center">
                        <h3>Tình trạng</h3>
                      </th>
                      <th scope="col"></th>
                    </tr>
                  </thead> <!-- Header -->
                  <tbody> <!-- Item --> 
                    <tr>
                      <td> <!-- Name item -->
                        <img src="" alt="" width="120px" height="120px" style="border-radius: 20px" />
                        <span class="d-inline-block align-middle mt-3 mt-lg-0 mt-xl-0 mt-xxl-0 ms-0 ms-lg-3 ms-xl-3 ms-xxl-4">
                          <h3>Áo MU phiên bản cao cấp</h3>
                          <p>Áo MU như Vua mang Long bào. Chó cũng phải chào</p>
                        </span>
                      </td> <!-- Name item -->
                      <td> <!-- Price -->
                        <h3>219000đ</h3>
                      </td> <!-- Price -->
                      <td> <!-- Status -->
                        <h5 class="status is-unavaliable p-2 text-center">Hết hàng</h5>
                      </td> <!-- Status -->
                      <td class="pe-0 me-1"> <!-- Icon -->
                        <i class="ms-lg-3 ms-xl-3 ms-xxl-3 mb-2 mb-lg-0 mb-xl-0 mb-xxl-2 fa-solid fa-cart-shopping icon-wishlist add-item-list text-center"></i>
                        <i class="ms-lg-3 ms-xl-3 ms-xxl-3 mt-2 mt-lg-0 mt-xl-0 mt-xxl-2 fa-regular fa-x icon-wishlist remove-item-list text-center"></i>
                      </td> <!-- Icon -->
                    </tr>
                  </tbody> <!-- Item -->
                  <tbody> <!-- Item --> 
                      <tr>
                        <td> <!-- Name item -->
                          <img src="" alt="" width="120px" height="120px" style="border-radius: 20px" />
                          <span class="d-inline-block align-middle mt-3 mt-lg-0 mt-xl-0 mt-xxl-0 ms-0 ms-lg-3 ms-xl-3 ms-xxl-4">
                            <h3>Áo MU phiên bản cao cấp</h3>
                            <p>Áo MU như Vua mang Long bào. Chó cũng phải chào</p>
                          </span>
                        </td> <!-- Name item -->
                        <td> <!-- Price -->
                          <h3>219000đ</h3>
                        </td> <!-- Price -->
                        <td> <!-- Status -->
                          <h5 class="status is-avaliable p-2 text-center">Còn hàng</h5>
                        </td> <!-- Status -->
                        <td class="pe-0 me-1"> <!-- Icon -->
                          <i class="ms-lg-3 ms-xl-3 ms-xxl-3 mb-2 mb-lg-0 mb-xl-0 mb-xxl-2 fa-solid fa-cart-shopping icon-wishlist add-item-list text-center"></i>
                          <i class="ms-lg-3 ms-xl-3 ms-xxl-3 mt-2 mt-lg-0 mt-xl-0 mt-xxl-2 fa-regular fa-x icon-wishlist remove-item-list text-center"></i>
                        </td> <!-- Icon -->
                      </tr>
                    </tbody> <!-- Item -->
                </table>
              </section>
            </div>
          </div>
          

        <%- include ('../common/component/footer')%>
        <%- include ('../common/lib/bootstrap_js')%>
        <%- include ('../common/lib/jquery')%>
        <%- include ('../common/lib/feather_icon_js')%>

        <%- include ('../common/js/index')%>
</body>

