<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tuấn Sport Đà Nẵng – Số 1 Đà Nẵng</title>
  <%- include ('../common/lib/font_css')%>
    <%- include ('../common/lib/feather_icon_css')%>
      <%- include ('../common/lib/bootstrap_css')%>
        <%- include ('../common/lib/font_awesome_css')%>


          <%- include ('../common/css/style')%>

            <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/logo.png">
            <%- include ('../common/css/owl_carousel')%>

</head>


<body style="background-color:var(--white-color)">
  <%- include ('../common/component/navigator')%>
    <div class="app-body">
      <div id="wishlist">
        <!-- Content wishlist -->
        <section class="container py-2 pt-4 ps-3" id="breadcrumb">
          <!-- Path -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item text-decoration-none"><a href="/" class="text-color-dark-gray"
                  style="font-size: var(--heading5-font-size); font-weight: var(--heading5-font-weight);">
                  Home
                </a></li>
              <li class="breadcrumb-item active text-color-primary" aria-current="page">
                <span
                  style="font-size: var(--heading5-font-size); font-weight: var(--heading5-font-weight)">Wishlist</span>
              </li>
            </ol>
          </nav>
        </section>

        <section class="container py-2 pb-5 text-center align-middle">
          <!-- Main content wishlist -->
          <div id="UI-mobile" style="display: none">
            <!-- Mobile content-->
            <h2 class="text-center align-middle mb-4">Wishlist</h2>
            <div id="list-product-mobile" style="border-top: 1px solid var(--dark-gray-color)">
                
            </div>
            <div class="my-5"></div>
          </div>

          <div id="UI-web" style="display: block">
            <h2 class="text-start mb-4">Wishlist</h2>
            <table class="table align-middle">
              <!-- Table -->
              <thead class="header-table">
                <!-- Header -->
                <tr>
                  <th scope="col">
                    <h4>Tên</h4>
                  </th>
                  <th scope="col" class="text-center">
                    <h4>Giá tiền</h4>
                  </th>
                  <th scope="col" class="text-center">
                    <h4>Tình trạng</h4>
                  </th>
                  <th scope="col"></th>
                </tr>
              </thead> <!-- Header -->
              <tbody id="list-product-web">
                <!-- Item -->
                <!-- <h5 class="status is-avaliable p-2 text-center">Còn hàng</h5> -->
              </tbody> <!-- Item -->
            </table>
            <div class="my-5 py-2"></div>
          </div>
        </section>
      </div>
    </div>


    <%- include ('../common/component/footer')%>
      <%- include ('../common/lib/bootstrap_js')%>
        <%- include ('../common/lib/jquery')%>
          <%- include ('../common/lib/feather_icon_js')%>
          <script src="/assets/js/wishlist/wishlist.js"></script>
          <script>
            
// Change UI depend on screen 
            var width_default = window.innerWidth;

            var mobile = document.getElementById('UI-mobile');
            var web = document.getElementById('UI-web');


            if (width_default <1200) {
                mobile.style.display = 'block';
                web.style.display = 'none';
            } else {
                mobile.style.display = 'none';
                web.style.display = 'block';
            }

            window.onresize = function() {
                let width_resize = window.innerWidth
                if (width_resize <1200)     {
                    mobile.style.display = 'block';
                    web.style.display = 'none';
                } else {
                    mobile.style.display = 'none';
                    web.style.display = 'block';
                }
            }
          </script>
            <%- include ('../common/js/index')%>
</body>