<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <%- include ('../common/lib/bootstrap_css')%>
  <%- include ('../common/css/admin_css')%>

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo.png">
</head>
<%
 let priceFormat =  Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }) 
 %> 

<body>
  <div class="wrapper min-vh-100">
    <!-- Sidebar  -->
    <div class="d-flex flex-column h-100">
      <%- include ('admin_navbar')%>
      <!-- Page Content  -->
      <div id="content">
        <div class="container min-vh-100" style="text-align: center">
          <h3>Danh sách sản phẩm đã đồng bộ</h3>
          <div class="row row-cols-md-2 row-cols-md-1 justify-content-between">
            <div clas="col col-md-8 d-flex content-left"style="text-align: left">
              
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="input-group mb-3">
                <input type="text" id='search-text' value="<%=name%>" class="form-control"
                  placeholder="Tìm kiếm sản phẩm" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="search-btn" onclick="searchProduct()">Tìm
                  kiếm</button>
              </div>
            </div>
          </div>
          <div class="row justify-content-center bg-blue flex-grow-1">
            <table class="table table-bordered table-striped table-hover">
              <thead class="table-dark ">
                <tr>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">#</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Id nhóm hàng</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Mã hàng</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Tên hàng</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Giá bán</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Giá CTV</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Giá chưa giảm</th>
                  <!-- <th scope="col" style="position: sticky; top: 0; z-index: 9">Đồng bộ hoá</th> -->

                </tr>
              </thead>
              <tbody>
                <% for (let i in data) { delete data[i]['description'];%>
                  <tr class="product-row" id="<%=data[i]._id%>">
                    <th>
                      <%= pageSize*(page-1) +Number(i)+1%>
                    </th>
                    <th>
                      <%=data[i].masterProductId%>
                    </th>
                    <th>
                      <%=data[i]._id%>
                    </th>
                    <th>
                      <%=data[i].fullName%>
                    </th>
                    <th>
                      <%=priceFormat.format(data[i].price)%>
                    </th>
                    <th>
                        <%=priceFormat.format(data[i].ctvPrice)%>
                      </th>
                      <th class="text-decoration-line-through">
                        <%=priceFormat.format(data[i].salePrice)%>
                      </th>
                    
                  </tr>
                  <%} %>
              </tbody>
            </table>
          </div>
          <div class="pt-5">
            <%- include ('pagination')%>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#wrapper -->
</body>
<%- include ('../common/lib/bootstrap_js')%>
  <%- include ('../common/lib/jquery')%>
    <script src="/assets/js/admin/synced_product.js"></script>
    <%- include ('../common/js/index')%>


</html>