<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <%- include ('../common/lib/bootstrap_css')%>
    <%- include ('../common/css/admin_css')%>
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo.png">
      <link rel="stylesheet" type="text/css" href="/assets/css/bstreeview/bstreeview.css">
</head>

<body>
  <!-- Navbar -->
  <%- include ('admin_navbar')%>

  <!-- Modal -->
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Vui long nhap lua chon
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="1">Add vao con</button>
          <button type="button" class="btn btn-primary" id="2">Add vao tree</button>

        </div>
      </div>
    </div>
  </div>
  <!-- App body -->
  <div class="wrapper min-vh-100">
    <!-- Sidebar  -->
    <div class=" container d-flex flex-column h-100">
        <!-- Page Content  -->
      <div class="row">
        <div class="col-md-6 h-75">
          <h4> Cây danh mục</h4>
          <div id="tree" class="text-start">
            
          </div>
        </div>
        <div class="col-md-6 h-75">
          <h4> Các nhóm hàng chưa nằm trong cây danh mục</h4>

          <div id="list-free-category" class="text-start">
            <div class="list-group-item d-none" id="item-test" style="height:40px"></div>
          </div>
        </div>
      </div>
    </div>
       
          
    </div>
  </div>
  <!-- /#wrapper -->
</body>
<%- include ('../common/lib/bootstrap_js')%>
  <%- include ('../common/lib/jquery')%>
    <script src="/assets/js/bstreeview/bstreeview.js"></script>
    <script>
      var listCategory = JSON.parse('<%-JSON.stringify(categoryTree)%>')
      var listFreeCategory = JSON.parse('<%-JSON.stringify(listFreeCategory)%>')

      $(document).ready(function () {
        $('#tree').bstreeview({ data: listCategory });
        $('#list-free-category').bstreeview({ data: listFreeCategory});
      })
      console.log(listCategory)
      console.log(listFreeCategory);
    </script>
    <script src="/assets/js/admin/config_category.js"></script>


</html>