<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <%- include ('../common/lib/bootstrap_css')%>

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo.png">
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <%- include ('admin_navbar')%>
      <script src="/assets/js/admin/sync_product.js"></script>

      <!-- Page Content  -->
      <div id="content">
        <div class="container" style="text-align: center">
          <h3>Danh sách sản phẩm</h3>
          <div class="row justify-content-end">
            <div class="col-md-4 col-sm-12">
              <div class="input-group mb-3">
                <input type="text" id='search-text'value="<%=name%>"  class="form-control" placeholder="Tìm kiếm sản phẩm"
                  aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="search-btn" onclick="searchProduct()">Tìm
                  kiếm</button>
              </div>
            </div>
          </div>
          <div class="h-75 overflow-auto">
            <table class="table table-bordered table-striped table-hover">
              <thead class="table-dark ">
                <tr>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">#</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Mã hàng</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Tên hàng</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Giá bán</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Đồng bộ hoá</th>

                </tr>
              </thead>
              <tbody>
                <% for (let i in data) { delete data[i]['description']; %>
                  <tr>
                    <th>
                      <%= pageSize*(page-1) +Number(i)+1%>
                    </th>
                    <th>
                      <%=data[i].code%>
                    </th>
                    <th>
                      <%=data[i].fullName%>
                    </th>
                    <th>
                      <%=data[i].basePrice%>
                    </th>
                    <th>
                      <div class="form-check form-switch">
                        <input class="form-check-input" value="<%=name%>" type="checkbox" id="flexSwitchCheckDefault" <%
                          if (data[i].isSynced) {%> checked <% } %> onclick="syncProduct(`<%=JSON.stringify(data[i])%>
                            `)">
                            <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label> -->
                      </div>
                    </th>
                  </tr>
                  <%} %>
              </tbody>
            </table>
          </div>
          <div class="pt-5">
            <%- include ('pagination')%>

          </div>
        </div>
      </div>
  </div>
  <!-- /#wrapper -->
</body>
<%- include ('../common/lib/bootstrap_js')%>
  <%- include ('../common/lib/jquery')%>
    <%- include ('../common/js/index')%>

</html>