<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <%- include ('../common/lib/bootstrap_css')%>
  <link rel="stylesheet" href="/assets/css/admin.css">

      <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo.png">
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <%- include ('admin_navbar')%>
      <!-- Page Content  -->
      <div id="content">
        <div class="container" style="text-align: center">
          <h3>Danh sách cộng tác viên </h3>
          <div class="row justify-content-between">
            <div class="col" style="text-align: left">
              <button id="btn-edit" class="btn btn-warning">Chỉnh sửa</button>
              <a type="button" class="btn btn-success" href="/admin/ctv/create">Tạo mới</a>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                Xoá
              </button>
              
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="input-group mb-3">
                <input type="text" id='search-text' value="<%=username%>" class="form-control" placeholder="Tìm kiếm cộng tác viên"
                  aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="search-btn" onclick="searchCtv()">Tìm
                  kiếm</button>
              </div>
            </div>
          </div>
          <div class="h-75 overflow-auto">
            <table id="ctv" class="table table-bordered table-striped table-hover">
              <thead class="table-dark ">
                <tr>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">#</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Tên đăng nhập</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Mật khẩu</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Vai trò</th>
                  <th scope="col" style="position: sticky; top: 0; z-index: 9">Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i in data) { delete data[i]['description']; %>
                  <tr id ='<%=data[i]._id %> '>
                    <th>
                      <%= pageSize*(page-1) +Number(i)+1%>
                    </th>
                    <th>
                      <%=data[i].username%>
                    </th>
                    <th>
                      <%=data[i].password%>
                    </th>
                    <th>
                      <%=data[i].role%>
                    </th>
                    <th>
                      <%if(data[i].isActive){%>
                        Đang khả dụng
                        <% } else { %> Bị khoá <% } %> 
                    </th>
                    
                  </tr>
                  <%} %>
              </tbody>
            </table>
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Bạn có chắc muốn xoá cộng tác viên này?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button id="btn-delete" data-bs-dismiss="modal" class="btn btn-danger">Xoá</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
              <div class="toast toast-success align-items-center text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                  <div class="toast-body">
                    Xoá dữ liệu thành công!
                  </div>
                  <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              </div>
            </div>
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
              <div class="toast toast-failed align-items-center text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                  <div class="toast-body">
                    Xoá dữ liệu không thành công!
                  </div>
                  <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              </div>
            </div>
            
          <div class="pt-5">
            <%- include ('pagination')%>

          </div>
        </div>
      </div>
  </div>
  <!-- /#wrapper -->
</body>
<script src="/assets/js/admin/ctv.js"></script>

<%- include ('../common/lib/bootstrap_js')%>
  <%- include ('../common/lib/jquery')%>
</html>