<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <%- include ('../common/lib/bootstrap_css')%>
        <%- include ('../common/css/admin_css')%>

            <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo.png">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <%- include ('admin_navbar')%>
            <!-- Page Content  -->
            <div id="content">
                <div class="container mt-5" style="text-align: left">
                    <h3>Đổi mật khẩu Admin </h3>

                    <div class="container mt-5">
                        <div class="form" method="POST" action="?_method=PUT">
                            <label class="form-label">Nhập mật khẩu cũ</label>
                            <input name="password" class="form-control" type="password" />
                            <label class="form-label">Nhập mật khẩu mới</label>
                            <input name="newpassword" class="form-control" type="password" />
                            <label class="form-label">Nhập lại mật khẩu mới</label>
                            <input name="confirmpassword" class="form-control mb-2" type="password" />
                            <button type="submit" class="btn btn-primary btn-update-password">
                                Cập nhật mật khẩu
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
<%- include ('../common/lib/bootstrap_js')%>
    <%- include ('../common/lib/jquery')%>
        <%- include ('../common/js/index')%>
        <script src="/assets/js/admin/update_password.js"></script>


</html>