<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tuấn Sport Đà Nẵng – Số 1 Đà Nẵng</title>
        <%- include ('../common/lib/font_css')%>
                <%- include ('../common/lib/feather_icon_css')%>
                        <%- include ('../common/lib/bootstrap_css')%>
                                <%- include ('../common/lib/font_awesome_css')%>


                                        <%- include ('../common/css/style')%>

                                                <link rel="icon" type="image/png" sizes="16x16"
                                                        href="/assets/images/logo.png">
                                                <%- include ('../common/css/owl_carousel')%>

</head>


<body style="background-color:var(--white-color)">
    <%- include ('../common/component/navigator')%>
    <div class="p-4 m-4"></div>
    <div class="text-center container" style="">
        <div class="text-center" style="font-size:96px; color: var(--tertiary-color); font-weight: var(--heading1-font-weight);">
            404
        </div>
            <h1 class="mb-3">Page not Found</h1>
            <div class="row">
                    <p class="py-4 offset-xl-3 col-xl-6">Lỗi này thường do chủ sở hữu chỉ chia sẻ nội dung với một nhóm nhỏ, thay đổi người được xem hoặc đã xóa nội dung</p>
            </div>
        <a href="/" class="btn btn-primary">Trở về Trang chủ</a>
    </div>
    <%- include ('../common/lib/jquery')%>
    <%- include ('../common/lib/feather_icon_js')%>
            <%- include ('../common/js/index')%>
                    <%- include ('../common/js/owl_carousel')%>
</body>


</html>