<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tuấn Sport Đà Nẵng – Số 1 Đà Nẵng</title>
        <%- include ('../common/lib/font_css')%>
                <%- include ('../common/lib/feather_icon_css')%>
                        <%- include ('../common/lib/bootstrap_css')%>
                        <%- include ('../common/lib/font_awesome_css')%>


                                <%- include ('../common/css/style')%>

                                        <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/logo.png">
                                        <%- include ('../common/css/owl_carousel')%>

</head>


<body style="background-color:var(--white-color)">
        <%- include ('../common/component/navigator')%>
        <div class="app-body">
            <div id="cart"> <!-- Content cart -->
              <section class="container py-2 pt-4 ps-3" id="breadcrumb"> <!-- Path -->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item text-decoration-none"><a href="/" class="text-color-dark-gray" style="font-size: var(--heading5-font-size); font-weight: var(--heading5-font-weight);">
                      Trang chủ
                    </a></li>
                    <li class="breadcrumb-item active text-color-primary" aria-current="page">
                      <span style="font-size: var(--heading5-font-size); font-weight: var(--heading5-font-weight)">Giỏ hàng</span>
                    </li>
                  </ol>
                </nav>
              </section>
          
              <section class="container py-2 pb-5 text-center align-middle"> <!-- Main content wishlist -->
                <div id="UI-mobile"> <!-- Mobile content-->
                  <h2 class="text-center align-middle mb-4" id="title-pagex">Giỏ hàng</h2>
                  <div class="border-top" id="list-products-mobile">
                  </div>
                </div>
                
                <div id="UI-web"> <!-- Web content-->
                    <h2 class="text-start mb-3" id="title-page">Giỏ hàng</h2>
                  <table class="table align-middle table-hover"> <!-- Table -->
                    <thead class="header-table"> <!-- Header -->
                      <tr>
                        <th scope="col">
                          <h4>Tên</h4>
                        </th>
                        <th scope="col">
                          
                        </th>
                        <th scope="col" class="text-center">
                          <h4>Giá tiền</h4>
                        </th>
                        <th scope="col" class="text-center">
                          <h4>Số lượng</h3>
                        </th>
                        <th scope="col" class="text-center">
                            <h4>Tổng giá</h4>
                          </th>
                        <th scope="col"></th>
                      </tr>
                    </thead> <!-- Header -->
                    <tbody id="list-products-web">
                    
                    </tbody>
                    
                  </table>
                    <div class="row pt-3"> <!--Redirect-->
                        <div class="col-3">
                            <a href="/" class="btn btn-primary">Tiếp tục mua hàng</a>
                        </div>
                        <div class="col-3">
                            <a href class="btn btn-light">Cập nhật giỏ hàng</a>
                        </div>
                    </div>
                    
                </div>

                <div class="mt-4 row"> <!-- Voucher + Transaction-->
                  <div class="col-12 col-xl-6 col-xxl-6"> <!-- Voucher-->
                      <div class="row border-top mt-4">
                          <div class="mt-4">
                              <h3>Nhập mã khuyến mãi</h3>
                              <div class="mt-4">
                                <form action="#" class="row">
                                      <div class="col-xxl-9 col-xl-8 col-7">
                                          <input type="text" class="form-control input-box btn-outline-light" name="user-voucher" style="background-color: var(--light-gray-color);" placeholder="Nhập mã khuyến mãi">
                                      </div>
                                      <div class="col-xxl-3 col-xl-4 col-5">
                                          <a href="#" class="btn btn-primary">Áp dụng</a>
                                      </div>
                                  </form>
                                  </div>
                              </div>
                          </div>
                  </div> <!-- Voucher-->
                  <div class="offset-xl-1 offset-xxl-1 col-12 col-xl-5 col-xxl-5 mt-4 pt-4 px-3 px-xl-0 px-xxl-0" id="transaction"> <!--Tóm tắt đơn hàng-->
                      <div class="row mb-4">
                          <h3 class="text-start">Tóm tắt đơn hàng</h3>
                      </div>
                      <div class="row py-2 ">
                          <h4 class="col-7 text-start">Tạm tính</h4>
                          <h4 class="text-end col-5 total-value" id="transaction-product-price"></h4>
                      </div>
                      <div class="row py-3 d-none">
                          <h4 class="col-7 text-start">Khuyến mãi</h4>
                          <h4 class="text-end col-5 total-value" id="voucher-discount"></h4>
                      </div>
                      <div class="border my-3"></div>
                      <div class="row py-3">
                          <h4 class="col-7 text-start">Tổng</h4>
                          <h4 class="text-end col-5 total-value" id="transaction-price"></h4>
                      </div>
                      <div class="row pt-2">
                          <a href="/checkout" class="btn btn-primary w-100 transaction-btn disabled" aria-disabled="true">Thanh toán</a>
                      </div>
                  </div> <!-- Tóm tắt đơn hàng-->
              </div>
              <div class="my-5 py-2"></div>
                </div>
                </section>
            </div>
          </div>
          
          
          <%- include ('../common/component/footer')%>
          <%- include ('../common/lib/bootstrap_js')%>
          <%- include ('../common/lib/jquery')%>
          <%- include ('../common/lib/feather_icon_js')%>
          <script src="/assets/js/cart/cart.js"></script>
          <script>
            
// Change UI depend on screen
            var width_default = window.innerWidth;

            var mobile = document.getElementById('UI-mobile');
            var web = document.getElementById('UI-web');


            if (width_default <1200) {
                mobile.style.display = 'block';
                web.style.display = 'none';
            } else {
                mobile.style.display = 'none';
                web.style.display = 'block';
            }

            window.onresize = function() {
                let width_resize = window.innerWidth
                if (width_resize <1200)     {
                    mobile.style.display = 'block';
                    web.style.display = 'none';
                } else {
                    mobile.style.display = 'none';
                    web.style.display = 'block';
                }
            }
          </script>
        <%- include ('../common/js/index')%>
</body>

