<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tuấn Sport Đà Nẵng – Số 1 Đà Nẵng</title>
        <%- include ('../common/lib/font_css')%>
                <%- include ('../common/lib/feather_icon_css')%>
                        <%- include ('../common/lib/bootstrap_css')%>
                        <%- include ('../common/lib/font_awesome_css')%>


                                <%- include ('../common/css/style')%>

                                        <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/logo.png">
                                        <%- include ('../common/css/owl_carousel')%>

</head>


<body style="background-color:var(--white-color)">
        <%- include ('../common/component/navigator')%>
        <div class="app-body">
            <div id="wishlist"> <!-- Content wishlist -->
              <section class="container py-2 pt-4 ps-3" id="breadcrumb"> <!-- Path -->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item text-decoration-none"><a href="/" class="text-color-dark-gray" style="font-size: var(--heading5-font-size); font-weight: var(--heading5-font-weight);">
                      Trang chủ
                    </a></li>
                    <li class="breadcrumb-item active text-color-primary" aria-current="page">
                      <span style="font-size: var(--heading5-font-size); font-weight: var(--heading5-font-weight)">Giỏ hàng</span>
                    </li>
                  </ol>
                </nav>
              </section>
          
              <section class="container py-2 pb-5 text-center align-middle"> <!-- Main content wishlist -->
                <div id="UI-mobile"> <!-- Mobile content-->
                  <h2 class="text-center align-middle mb-4">Wishlist</h2>
                  <div style="border-top: 1px solid var(--dark-gray-color)">
                    <div class="my-3"> <!-- Item -->
                          <div class="row align-items-center">
                            <div class="col-7 d-flex align-items-center"> <!--Name-->
                              <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1200px-Man_Utd_FC_.svg.png" alt="" width="60px" height="60px" style="border-radius: 5px" /> 
                              <span class="align-middle mt-3 mt-lg-0 mt-xl-0 mt-xxl-0 ms-0 ms-lg-3 ms-xl-3 ms-xxl-4">
                                <h5 class="ms-2 short-description">This is some text. This is some text. This is some text.
                                  This is some text. This is some text. This is some text.</h5>
                              </span>
                            </div>
                            <div class="col-5 pt-3 ps-4"> <!-- Price-->
                              <h5>$15000</h5>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-7 d-flex align-items-center"> <!--Status-->
                              <h5>Tình trạng: </h5>
                              <span class="mx-2 status-mobile is-avaliable">
                                <h5>Còn hàng</h5>
                              </span>
                            </div>
                            <div class="col-5"> <!-- Icon -->
                              <i class="ms-3 mb-2 mb-lg-0 mb-xl-0 mb-xxl-2 fa-solid fa-cart-shopping action-icon hover-bigger add-item-list text-center"></i>
                              <i class="ms-3 mt-2 mt-lg-0 mt-xl-0 mt-xxl-2 fa-regular fa-x action-icon hover-bigger remove-item-list text-center"></i>
                            </div>
                          </div>
                    </div>
                    <div class="my-3"> <!-- Item -->
                      <div class="row align-items-center">
                        <div class="col-7 d-flex align-items-center"> <!--Name-->
                          <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1200px-Man_Utd_FC_.svg.png" alt="" width="60px" height="60px" style="border-radius: 5px" /> 
                          <span class="align-middle mt-3 mt-lg-0 mt-xl-0 mt-xxl-0 ms-0 ms-lg-3 ms-xl-3 ms-xxl-4">
                            <h5 class="ms-2 short-description">This is some text. This is some text. This is some text.
                              This is some text. This is some text. This is some text.</h5>
                          </span>
                        </div>
                        <div class="col-5 pt-3 ps-4"> <!-- Price-->
                          <h5>$15000</h5>
                        </div>
                      </div>
                      <div class="row align-items-center">
                        <div class="col-7 d-flex align-items-center"> <!--Status-->
                          <h5>Tình trạng: </h5>
                          <span class="mx-2 status-mobile is-unavaliable">
                            <h5>Hết hàng</h5>
                          </span>
                        </div>
                        <div class="col-5"> <!-- Icon -->
                          <i class="ms-3 mb-2 mb-lg-0 mb-xl-0 mb-xxl-2 fa-solid fa-cart-shopping action-icon  hover-bigger add-item-list text-center"></i>
                          <i class="ms-3 mt-2 mt-lg-0 mt-xl-0 mt-xxl-2 fa-regular fa-x action-icon hover-bigger  remove-item-list text-center"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div id="UI-web"> <!-- Web content-->
                    <h2 class="text-start mb-3">Giỏ hàng (2)</h2>
                  <table class="table align-middle"> <!-- Table -->
                    <thead class="header-table"> <!-- Header -->
                      <tr>
                        <th scope="col">
                          <h4>Tên</h4>
                        </th>
                        <th scope="col" class="text-center">
                          <h4>Giá tiền</h4>
                        </th>
                        <th scope="col" class="text-center">
                          <h4>Số lượng</h3>
                        </th>
                        <th scope="col" class="text-center">
                            <h4>Tổng giá</h4>
                          </th>
                        <th scope="col"></th>
                      </tr>
                    </thead> <!-- Header -->
                    <tbody class="product"> <!-- Item --> 
                      <tr>
                          <td class="product-detail"> <!-- Name item -->
                            <img src="http://hanoimoi.com.vn/Uploads/images/phananh/2021/11/17/MU.jpg" alt="" width="120px" height="120px" style="border-radius: 20px" />
                            <span class="d-inline-block align-middle mt-3 mt-lg-0 mt-xl-0 mt-xxl-0 ms-0 ms-lg-3 ms-xl-3 ms-xxl-4">
                                <h3 class="product-size">Áo MU phiên bản cao cấp</h3>
                                <p class="short-description">Size: XXL, Màu quỷ đỏ</p>
                            </span>
                          </td> <!-- Name item -->
                          <td class="product-price text-center"> <!-- Price -->
                            <h3>219000 đ</h3>
                          </td> <!-- Price -->
                          <td class="product-quantity"> <!-- Amount -->
                            <div class="input-group mb-3 amount-box mx-auto">
                                <span class="input-group-text change-value hover-bigger dec-value" style="border-radius: 23px 0 0 23px">
                                    <i class="fa-solid fa-minus"></i>
                                </span>
                                <input type="text" class="form-control product-amount text-center shadow-none" aria-label="Amount" value="1">
                                <span class="input-group-text change-value hover-bigger inc-value" style="border-radius: 0 23px 23px 0">
                                    <i class="fa-regular fa-plus"></i>
                                </span>
                              </div>
                          </td> <!-- Amount -->
                          <td class="product-total-price text-center">
                            <h3>219000 đ</h3>
                          </td>
                          <td class="pe-0 me-1 ps-5"> <!-- Icon -->
                          <i class="ms-lg-3 ms-xl-3 ms-xxl-3 mt-2 mt-lg-0 mt-xl-0 mt-xxl-2 fa-regular fa-x action-icon hover-bigger remove-item-list text-center" style="transform:translateY(-5px)"></i>
                          </td> <!-- Icon -->
                      </tr>
                      </tbody> <!-- Item -->
                    <tbody class="product"> <!-- Item --> 
                        <tr>
                            <td class="product-detail"> <!-- Name item -->
                              <img src="http://hanoimoi.com.vn/Uploads/images/phananh/2021/11/17/MU.jpg" alt="" width="120px" height="120px" style="border-radius: 20px" />
                              <span class="d-inline-block align-middle mt-3 mt-lg-0 mt-xl-0 mt-xxl-0 ms-0 ms-lg-3 ms-xl-3 ms-xxl-4">
                                  <h3 class="product-size">Áo MU phiên bản cao cấp</h3>
                                  <p class="short-description">Size: XXL, Màu quỷ đỏ</p>
                              </span>
                            </td> <!-- Name item -->
                            <td class="product-price text-center"> <!-- Price -->
                              <h3>219000 đ</h3>
                            </td> <!-- Price -->
                            <td class="product-quantity"> <!-- Amount -->
                              <div class="input-group mb-3 amount-box mx-auto">
                                  <span class="input-group-text change-value hover-bigger dec-value" style="border-radius: 23px 0 0 23px">
                                      <i class="fa-solid fa-minus"></i>
                                  </span>
                                  <input type="text" class="form-control product-amount text-center shadow-none" aria-label="Amount" value="1">
                                  <span class="input-group-text change-value hover-bigger inc-value" style="border-radius: 0 23px 23px 0">
                                      <i class="fa-regular fa-plus"></i>
                                  </span>
                                </div>
                            </td> <!-- Amount -->
                            <td class="product-total-price text-center">
                              <h3>219000 đ</h3>
                            </td>
                            <td class="pe-0 me-1 ps-5"> <!-- Icon -->
                            <i class="ms-lg-3 ms-xl-3 ms-xxl-3 mt-2 mt-lg-0 mt-xl-0 mt-xxl-2 fa-regular fa-x action-icon hover-bigger remove-item-list text-center" style="transform:translateY(-5px)"></i>
                            </td> <!-- Icon -->
                        </tr>
                      </tbody> <!-- Item -->
                  </table>
                    <div class="row pt-3"> <!--Redirect-->
                        <div class="col-3">
                            <a href="/" class="btn btn-primary">Tiếp tục mua hàng</a>
                        </div>
                        <div class="col-3">
                            <a href="#" class="btn btn-primary disabled">Cập nhật giỏ hàng</a>
                        </div>
                    </div>
                    <div class="mt-4 row"> <!-- Voucher + Transaction-->
                        <div class="col-6"> <!-- Voucher-->
                            <div class="row border-top mt-4">
                                <div class="col-12 mt-4">
                                    <h3>Nhập mã khuyến mãi</h3>
                                    <div class="mt-4">
                                      <form action="#" class="row">
                                            <div class="col-9 col-xl-8">
                                                <input type="text" class="form-control input-box btn-outline-light" name="user-voucher" style="background-color: var(--light-gray-color);" placeholder="Nhập mã khuyến mãi">
                                            </div>
                                            <div class="col-3 col-xl-4">
                                                <a href="#" class="btn btn-primary">Áp dụng</a>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                        </div> <!-- Voucher-->
                        <div class="offset-1 col-5 mt-4 pt-4" id="transaction"> <!--Tóm tắt đơn hàng-->
                            <div class="row mb-4">
                                <h3 class="text-start">Tóm tắt đơn hàng</h3>
                            </div>
                            <div class="row py-2 ">
                                <h4 class="col-7 text-start">Tạm tính</h4>
                                <h4 class="text-end col-5 total-value" id="transaction-product-price"></h4>
                            </div>
                            <div class="row py-3">
                                <h4 class="col-7 text-start">Khuyến mãi</h4>
                                <h4 class="text-end col-5 total-value" id="voucher-discount"></h4>
                            </div>
                            <div class="border my-3"></div>
                            <div class="row py-3">
                                <h4 class="col-7 text-start">Tổng</h4>
                                <h4 class="text-end col-5 total-value" id="transaction-price"></h4>
                            </div>
                            <div class="row pt-2">
                                <a href="#" class="btn btn-primary w-100 transaction-btn">Thanh toán</a>
                            </div>
                        </div> <!-- Tóm tắt đơn hàng-->
                    </div>
                    <div class="my-5 py-2"></div>
                </div>
                </div>
                </section>
            </div>
          </div>
          
          
          <%- include ('../common/component/footer')%>
          <%- include ('../common/lib/bootstrap_js')%>
          <%- include ('../common/lib/jquery')%>
          <%- include ('../common/lib/feather_icon_js')%>
          <script src="/assets/js/cart/cart.js"></script>
        <%- include ('../common/js/index')%>
</body>

