<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tuấn Sport Đà Nẵng – Số 1 Đà Nẵng</title>
        <%- include ('../common/lib/font_css')%>
                <%- include ('../common/lib/feather_icon_css')%>
                        <%- include ('../common/lib/bootstrap_css')%>
                                <%- include ('../common/lib/font_awesome_css')%>


                                        <%- include ('../common/css/style')%>

                                                <link rel="icon" type="image/png" sizes="16x16"
                                                        href="/assets/images/logo.png">
                                                <%- include ('../common/css/owl_carousel')%>

</head>


<body style="background-color:var(--white-color)">
        <%- include ('../common/component/navigator')%>
        <%- include ('../common/component/checkout')%>
        <%- include ('../common/component/footer')%>
</body>
<%- include ('../common/lib/bootstrap_js')%>
        <%- include ('../common/lib/jquery')%>
                <%- include ('../common/lib/feather_icon_js')%>
                        <%- include ('../common/js/index')%>
                        <script src="/assets/js/checkout/checkout.js"></script>
                                <%- include ('../common/js/owl_carousel')%>
</html>